<form [formGroup]="form" (ngSubmit)="send()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input formControlName="fullName" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="mail" matInput />
  </mat-form-field>

  <div>
    <button mat-button type="button" color="warn" (click)="cancel.emit()">
      Cancelar
    </button>
    <button mat-button type="submit" color="primary">Guardar</button>
  </div>
</form>
